name: release

on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          check-latest: true
      - name: Run Release
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: ${{ env.IS_TAG_PUSH == 'true' && 'release --clean' || 'release --clean --snapshot' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IS_TAG_PUSH: ${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist/*
